.container {
    width: 1050px;
    position: relative;
    margin: 0 auto;
}


@media screen and (min-width: 320px) and (max-width: 480px) {
    body, html {
        overflow-x: hidden;
    }
    .container {
        width: 300px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px){
    body, html {
        overflow-x: hidden;
    }
    .container {
        width: 400px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
}
/*====================Promo====================*/

.promo {
    background: #6451d5;
    min-height: 685px;
}

.promo__nav {
    display: flex;
    justify-content: space-between;
}

.promo__logo {
    padding-top: 45px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .promo__logo {
       padding-top: 80px;  
    }
}

@media screen and (min-width: 481px) and (max-width: 768px){
    .promo__logo {
        padding-top: 75px;  
    }
}

.promo__href ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .promo__href ul {
        padding-top: 50px;
        display: block;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px){
    .promo__href ul {
        padding-top: 50px;
        display: block;
    }
}

.promo__href li {
    margin-left: 55px;
    list-style: none;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .promo__href li  {
        margin-left: 25px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px){
    .promo__href li  {
        margin-left: 85px;
        padding-bottom: 10px;
    }
}

.promo__href a {
    text-decoration: none;
    font-size: 18px;
    font-family: "Trebuchet MS";
    color: rgb(255, 255, 255);
    font-weight: bold; 
}

.promo__href a:hover {
    text-decoration: underline;
}

.promo__href a:active {
    text-decoration: none;
    color: #9388e0;
}

.promo__photo {
    padding-top: 75px;
    position: absolute;
    left: 40%;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .promo__photo {
        position: absolute;
        top: 420px;
        left: 5px;
    }
    .promo__photo img {
        height: 180px;
    }
}

.promo__heading {
    padding-top: 100px;
    font-size: 45px;
    font-family: "Trebuchet MS";
    color: rgb(255, 255, 255);
    font-weight: bold;
    width: 495px;    
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .promo__heading {
        padding-top: 50px;
        font-size: 25px;
        width: 300px; 
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .promo__photo {
        position: absolute;
        top: 400px;
        left: 50px;
    }
    .promo__photo img {
        height: 200px;
    }
    .promo__heading {
        padding-top: 50px;
        font-size: 35px;
        width: 450px; 
    }
}

.promo__text {
    padding-top: 50px;
    font-size: 18px;
    font-family: "Tahoma";
    color: rgb(188, 179, 242); 
    width: 320px;   
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .promo__text {
        padding-top: 30px;
        font-size: 16px;
        font-family: "Tahoma";
        color: rgb(188, 179, 242); 
        width: 300px;   
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .promo__text {
        padding-top: 20px;
        font-size: 16px;
        font-family: "Tahoma";
        color: rgb(188, 179, 242); 
        width: 400px;   
    }
}

.promo__btn {
    padding-top: 55px;
}

.promo__btn button {
    width: 320px;
    height: 70px;
    background: #382d78;
    font-size: 20px;
    font-family: "Trebuchet MS";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border: none;
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .promo__btn {
        padding-top: 35px;
    }
    .promo__btn button {
        width: 300px;
        height: 70px;
        background: #382d78;
        font-size: 18px;
        font-family: "Trebuchet MS";
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        border: none;
        cursor: pointer;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .promo__btn {
        padding-top: 35px;
    }
    .promo__btn button {
        width: 415px;
        height: 70px;
        background: #382d78;
        font-size: 18px;
        font-family: "Trebuchet MS";
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        border: none;
        cursor: pointer;
    }
}

.promo__btn button:hover {
    background: #32286c;
}

.promo__btn button:active, .contacts__form  .btn__form input:active {
    background: #32286c;
    color: #8581a1;
}

/*====================Promises====================*/

.promises {
    min-height: 284px;
    background: #efefef;
}

.promises__items {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.promises__item {
    width: 320px;
    text-align: center;
}

.promises__img {
    text-align: center;
}

.promises__heading {
    padding-top: 30px;
    font-size: 22px;
    font-family: "Trebuchet MS";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
}

.promises_text {
    padding-top: 30px;
    font-size: 18px;
    font-family: "Tahoma";
    color: rgb(64, 64, 64);
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .promises__items {
        display: block;
        width: 280px;
    }
    .promises__heading {
        padding-top: 10px;
    }
    .promises_text {
        padding-top: 10px;
        padding-bottom: 30px;
        width: 250px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .promises__items {
        display: block;
    }
    .promises__img img {
        margin: 0 auto;
    }
    .promises__item {
        width: 400px;
    }
    .promises__heading {
        padding-top: 10px;
        width: 390px;
    }
    .promises_text {
        padding-top: 10px;
        padding-bottom: 30px;
        width: 400px;
        margin: 0 auto;
    }
}

/*====================Education====================*/

.education {
    min-height: 510px;
    background: #ffffff;
}

.education__heading {
    padding-top: 56px;
    font-size: 45px;
    font-family: "Trebuchet MS";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: left;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .education__heading {
        padding-top: 36px;
        font-size: 45px;
        text-align: center;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .education__heading {
        padding-top: 36px;
        font-size: 45px;
        text-align: center;
    }
}

.table__fromseducation {
    padding-top: 65px;
    padding-bottom: 20px;
}

.table__fromseducation table {
    border: 1px solid grey;
    width: 100%;
    border-collapse: collapse;
}

.table__fromseducation th {
    border: 1px solid grey;
}

.table__fromseducation td {
    border: 1px solid grey;
}

.firstlvl {
    height: 70px;
    background: #efefef;
    font-size: 18px;
    font-family: "Tahoma";
    color: rgb(64, 64, 64);
    line-height: 1.667;
    text-align: left;
    padding-left: 25px;
}

.secondlvl {
    height: 105px;
    font-size: 22px;
    font-family: "Trebuchet MS";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.091;
    text-align: left;
    padding-left: 25px;
}

.secondlvl__description {
    font-weight: normal;
    font-size: 18px;
    font-family: "Tahoma";
    color: rgb(64, 64, 64);
    text-align: left;
    padding-left: 25px;
}

.bigwith {
    width: 190px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .table__fromseducation {
        padding-top: 65px;
        padding-bottom: 20px;
    }
    .firstlvl {
        height: 40px;
        font-size: 16px;
        padding-left: 10px;
    }
    .secondlvl {
        height: 80px;
        font-size: 12px;
        padding-left: 10px;
    }
    .secondlvl__description {
        font-size: 11px;
        padding-left: 10px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .education__heading {
        padding-top: 36px;
        font-size: 45px;
        text-align: center;
    }
    .table__fromseducation {
        padding-top: 65px;
        padding-bottom: 20px;
    }
    .firstlvl {
        height: 70px;
        font-size: 16px;
        padding-left: 10px;
    }
    .secondlvl {
        height: 100px;
        font-size: 15px;
        padding-left: 10px;
    }
    .secondlvl__description {
        font-size: 13px;
        padding-left: 10px;
    }
}

/*====================Feedback====================*/

.feedback {
    min-height: 575px;
    background: #efefef;
}

.feedback__heading {
    padding-top: 60px;
    font-size: 45px;
    font-family: "Trebuchet MS";
    color: rgb(0, 0, 0);
    font-weight: bold;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .feedback__heading {
        padding-top: 36px;
        font-size: 45px;
        text-align: center;
        padding-bottom: 150px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .feedback__heading {
        padding-top: 36px;
        font-size: 45px;
        text-align: center;
        padding-bottom: 150px;
    }
}

.contacts__form {
    padding-top: 70px;
    width: 670px;
}

.contacts__form td {
    padding-bottom: 16px;
}

.contacts__form .title {
    width: 90px;
    padding-right: 20px;
    vertical-align: top;
    text-align: right;
    font-weight: 700;
    font-size: 18px;
    line-height: 54px;
    font-size: 18px;
    font-family: "Trebuchet MS";
    color: rgb(0, 0, 0);    
}

.contacts__form .field {
    width: 470px;
}

.contacts__form input[type="text"],
.contacts__form textarea {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 13px 23px;
  font-weight: 400;
  font-size: 18px;
  font-family: Arial, sans-serif;
  line-height: 24px;
  outline: none;
  border: 2px solid #b2b2b2;
  border-radius: 2px;
}

.contacts__form textarea {
    min-height: 105px;
    resize: none;
}

.contacts__form input[type="text"]:hover,
.contacts__form textarea:hover {
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 13px 23px;
  font-weight: 400;
  font-size: 18px;
  font-family: Arial, sans-serif;
  line-height: 24px;
  outline: none;
  border: 2px solid #404040;
  border-radius: 2px;
}

.contacts__form input[type="text"]:active,
.contacts__form textarea:active {
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 13px 23px;
  font-weight: 400;
  font-size: 18px;
  font-family: Arial, sans-serif;
  line-height: 24px;
  outline: none;
  border: 2px solid #6451d5;
  border-radius: 2px;
  transition: color 0s;
}

.contacts__form .checkbox__sex {
    font-size: 18px;
    font-family: "Tahoma";
    color: rgb(64, 64, 64);
}

.contacts__form  .btn__form {
    width: 100%;
    border-radius: 3px;
    height: 70px;
    background: #382d78;
    font-size: 20px;
    font-family: "Trebuchet MS";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 75px;
}

.contacts__form  .btn__form:hover {
    background: #32286c;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .contacts__form {
        padding-top: 40px;
        width: 280px;
    }
    .contacts__form .title {
        width: 90px;
        padding-right: 15px;
        font-size: 15px;   
    }
    .contacts__form .field {
        width: 270px;
    }
    .contacts__form input[type="text"],
    .contacts__form textarea {
      font-size: 15px;
    }
    .contacts__form textarea {
        min-height: 105px;
        resize: none;
    }
    .contacts__form input[type="text"]:hover,
    .contacts__form textarea:hover {
      font-size: 15px;
    }
    .contacts__form input[type="text"]:active,
    .contacts__form textarea:active {
      font-size: 15px;
    }
    .contacts__form .checkbox__sex {
        font-size: 15px;
    }
    .contacts__form  .btn__form {
        font-size: 18px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .contacts__form {
        padding-top: 40px;
        width: 400px;
    }
    .contacts__form .title {
        width: 90px;
        padding-right: 15px;
        font-size: 15px;   
    }
    .contacts__form .field {
        width: 270px;
    }
    .contacts__form input[type="text"],
    .contacts__form textarea {
      font-size: 15px;
    }
    .contacts__form textarea {
        min-height: 105px;
        resize: none;
    }
    .contacts__form input[type="text"]:hover,
    .contacts__form textarea:hover {
      font-size: 15px;
    }
    .contacts__form input[type="text"]:active,
    .contacts__form textarea:active {
      font-size: 15px;
    }
    .contacts__form .checkbox__sex {
        font-size: 15px;
    }
    .contacts__form  .btn__form {
        font-size: 18px;
    }
}

.contacts__form  .btn__form:active {
    background: #32286c;
    color: #8581a1;
    transition: color 0s;
}

.feedback__right {
    position: absolute;
    left: 700px;
    top: 200px;
}

.feedback__right__heading {
    font-size: 22px;
    font-family: "Trebuchet MS";
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.feedback__right__text {
    padding-top: 37px;
    font-size: 18px;
    font-family: "Tahoma";
    color: rgb(0, 0, 0);
}

.feedback__right__text__important {
    padding-top: 54px;
    font-size: 18px;
    font-family: "Tahoma";
    color: rgb(0, 0, 0);
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .feedback__right {
        text-align: center;
        position: absolute;
        width: 250px;
        left: 30px;
        top: 135px;
    }
    .feedback__right__heading {
        font-size: 18px;
    }
    
    .feedback__right__text {
        padding-top: 10px;
        font-size: 12px;
    }
    
    .feedback__right__text__important {
        padding-top: 10px;
        font-size: 12px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .feedback__right {
        text-align: center;
        position: absolute;
        width: 250px;
        left: 75px;
        top: 95px;
    }
    .feedback__right__heading {
        font-size: 18px;
    }
    
    .feedback__right__text {
        padding-top: 10px;
        font-size: 12px;
    }
    
    .feedback__right__text__important {
        padding-top: 10px;
        font-size: 12px;
    }
}

/*====================Footer====================*/

.footer {
    min-height: 359px;
    background: #2a2546;
}

.footer__left {
    position: absolute;
}

.footer__left__img {
    padding-top: 66px;
}

.footer__left__text {
    padding-top: 80px;
    font-size: 18px;
    font-family: "Tahoma";
    color: rgb(255, 255, 255);
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .footer__left {
        text-align: center;
        display: absolute;
        left: 30px;
        top: 720px;
    }
    .footer__left__text {
        padding-top: 30px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .footer__left {
        text-align: center;
        display: absolute;
        left: 90px;
        top: 720px;
    }
    .footer__left__text {
        padding-top: 30px;
    }
}

.footer__right {
    display: flex;
    justify-content: flex-end;
}

.footer__item {
    margin: 0 30px;
}

.footer__heading {
    padding-top: 95px;
    font-size: 18px;
    font-family: "Tahoma";
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding-bottom: 45px;
    cursor: pointer;
}

.footer__text {
    cursor: pointer;
    font-size: 18px;
    font-family: "Tahoma";
    color: rgb(163, 158, 190);
    padding-bottom: 35px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .footer__right {
        text-align: center;
        display: block;
        padding-bottom: 200px;
    }
    .footer__heading {
        padding-top: 35px;
        padding-bottom: 25px;
    }
    .footer__text {
        padding-bottom: 20px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .footer__right {
        text-align: center;
        display: block;
        padding-bottom: 200px;
    }
    .footer__heading {
        padding-top: 35px;
        padding-bottom: 25px;
    }
    .footer__text {
        padding-bottom: 20px;
    }
}

.footer__text a {
    text-decoration: none;
    color: rgb(163, 158, 190);
}

.footer__text a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer__text a:active {
    color: #4f4a6a;
    text-decoration: none;
    transition: color 0s;
}

  
  